/*Ajout pour ex4*/
 body{  
     background-color:grey; 
     } 
     
     #monTitre{
     text-align:center;
     margin: 30px;  font-size: 60px;
      }
       
    #mesSeries{ 
    margin-bottom:20px;
     }