<!doctype html> 
<html lang="fr"> 
    <head>
      <meta Charset="UTF-8">
      <title>Test AngularJS</title> 
    </head>
    <body ng-app ng-controller="monControl">
        <button ng-click="affichage()">Afficher la liste</button>
         <ul>
            <li ng-repeat="fruit in mesFruits">{{fruit}}</li>
         </ul> 
      
        <!-- Importation depuis le site du Framework --> 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>    
        <script src="ex6.js"></script>
    </body>
 </html>
                     